<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>component</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <!--多选-->
    <div id="app">
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
    <!--单选-->
    <div id="example-4">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>
    <!--单选下拉框-->
    <div id="example-5">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <!--多选-->
    <div id="example-6">
        <select v-model="selected" multiple style="width: 50px">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>
<script>
    new Vue({
        el: '#app',
        data: {
            checkedNames: []
        }
    });
    new Vue({
        el: '#example-4',
        data: {
            picked: ''
        }
    });
    new Vue({
        el: '#example-5',
        data: {
            selected: ''
        }
    });
    new Vue({
        el: '#example-6',
        data: {
            selected: []
        }
    })
</script>
</body>
</html>